[2016-03-01 16:55] be5invis opened #1 "Phase One Iteration Plan"
- **Dumping TrueType Tables**
   - [x] Glyph Order
   - [x] head
   - [x] hhea
   - [x] OS/2 (version 1 - 5)
   - [x] maxp (ttf only)
   - [x] name
   - [x] cmap (format 4 and 12 in Unicode encodings)
   - [x] post (version 2 and 3)
   - [x] loca, hmtx and glyf
   - [x] prep, fpgm and cvt (cvt is currently exported as bytes, instead of shorts)
   - [x] gasp
   - [x] vhea and vmtx
- **Writing TrueT

[2016-03-22 01:30] twardoch opened #2 "Adobe Tin?"
Does this project have any relation to [Adobe Tin](https://sourceforge.net/adobe/tintin/code/HEAD/tree/)? Adobe published a fairly complete C++ parser code in 2008-2010, under a liberal license (MIT-style I think). Is there a reason why this is better? What's the differences?

[2016-03-22 05:31] be5invis commented on #2
Tin does not parse outline of glyphs. That's why I and @clerkma started this.

[2016-03-22 06:43] twardoch commented on #2
I see. Perhaps you might want to borrow/adapt the CFF portions from Tin. I see that your project doesn't even mention CFF, and as we know, CFF parsing is possibly the most complex aspect of OpenType. The CFF table is quite self-contained anyway.

[2016-03-22 06:50] be5invis commented on #2
@twardoch CFF is not in wave one, but it will be introduced later.

[2016-03-22 09:57] anthrotype opened #3 "clock_gettime not available on OS X"
Hi, and thanks for working on this!

I tried to compile it on my mac, but it seems like the function `clock_gettime` is not available on that platform. This is what I get from `make`:

[code]

Here a link where they discuss about alternatives to clock_gettime for OS X:
http://stackoverflow.com/questions/5167269/clock-gettime-alternative-in-mac-os-x

Thanks.

Cosimo

[2016-03-22 11:01] be5invis commented on #3
@anthrotype I added another polyfill for OSX in the latest version. Does this one work?
I do not have an OSX machine so I can not test it.

[2016-03-22 11:05] anthrotype commented on #3
I don't know if that works, as I still haven't figured out how to compile it past the `clock_gettime` issue above...

If you don't have an OS X machine available, maybe you could setup Travis CI with a [OS X build environment](https://docs.travis-ci.com/user/osx-ci-environment/), or test on both OS X and Linux in [multi-os](https://docs.travis-ci.com/user/multi-os/) mode.

[2016-03-22 11:07] be5invis commented on #3
@anthrotype The latest commit contains a polyfill which removes the `clock_gettime` requirement under OSX. You should pull it and rebuild, and it should compile as expected.

[2016-03-22 11:09] anthrotype commented on #3
oh, ok. I'll try that!

[2016-03-22 11:12] anthrotype commented on #3
I don't know what you mean by "polyfill" but yes, it compiles now.
I guess this issue can be closed now. thanks!

[2016-03-22 11:12] #3 closed

[2016-03-22 11:14] be5invis commented on #3
@anthrotype Currently otfcc is still under construction. Tests, bug reports and PRs are welcome :)

[2016-03-22 11:15] be5invis commented on #2
Closed.

[2016-03-22 11:15] #2 closed

[2016-03-22 17:48] davelab6 commented on #1
@be5invis is this up to date? :)

[2016-03-22 18:07] be5invis commented on #1
@davelab6 Well it take more time than expected, but not stopped.
If you want to help me, PRs are welcome :)

[2016-03-28 23:54] be5invis commented on #1
@clerkma @davelab6 The “old-school” TTF part is (almost) complete.
Here's an snapshot:
![](http://cd8ba0b44a15c10065fd-24461f391e20b7336331d5789078af53.r23.cf1.rackcdn.com/typeboard.vanillaforums.com/editor/js/bp7bja1yrncf.png)

[2016-04-02 02:00] be5invis opened #4 "Phase Two Iteration Plan"
In Phase Two, we will mainly focus on features.
- **GSUB**
    - [x] 1. Single
    - [x] 2. Multiple
    - [x] 3. Alternate
    - [x] 4. Ligature
    - [x] 5. Context
    - [x] 6. Chaining Context
    - [x] 7. Extension Substitution (NOTE: All extensions will be “flatten” — which means that the output JSON will not contain this table type. Also, when writing a binary table, if the subtables offset

[2016-04-02 02:00] be5invis commented on #1
Since the features are moved into phase two (#2), this issue can be closed now.

[2016-04-02 02:00] #1 closed

[2016-04-18 14:05] #4 closed

[2016-04-26 15:59] be5invis opened #6 "Phase 3, CFF"
In this phase, otfcc will be able to read and write CFF outlines.

The CFF table data will be separated into two records:

* The existing `glyf` for curves;
* A new record `CFF_` for metadata.

 * [x] CFF Parser
    - [x] Metadata
    - [x] Outline & Metrics
    - [x] Hints
    - [x] CID
 * [x] CFF Writer
    - [x] Metadata
    - [x] Outline & Metrics
    - [x] Hints
    - [x] CID
 * [x] JSON form

[2016-04-28 11:20] eiszfuchs opened #7 "[Help] Issues compiling on latest Ubuntu"
I was hoping you could help me with this.

I was trying to compile https://github.com/be5invis/Iosevka by myself but I fail at compiling `otfcc` for it, as I'm not exactly keen with compilers and environments.
There were other errors before, which I was able to solve by installing `libc6-dev-i386`.

[code]

Running 16.04 LTS (Xenial), `uname -a` is:
[code]

[2016-04-28 12:52] be5invis commented on #7
Looks like missing `lm` when linking.

[2016-04-28 12:55] be5invis commented on #7
Is it working now?

[2016-04-29 09:41] be5invis commented on #7
@eiszfuchs Is the latest version works?

[2016-04-29 10:26] eiszfuchs commented on #7
Sorry the delay! Yes, this seems to work now after a `pull`!
Thank you!

[code]

Calling `make linux-release-x64` worked, too (but it had more warnings passing by while building). That's much easier than the steps in the `README`. :beers:

[code]

[2016-04-29 11:55] be5invis commented on #7
OK, closed.

[2016-04-29 11:55] #7 closed

[2016-06-10 18:53] WangZishi opened #9 "What dose "otfcc" mean?"
I just curious about why dose this library named `otfcc`?
And how to pronounce? o-t-f-c-c?

[2016-06-10 18:59] be5invis commented on #9
OpenType compact compiler. Period.

[2016-06-10 18:59] #9 closed

[2016-07-10 01:50] be5invis commented on #6
Mostly done.

[2016-07-10 03:18] #6 closed

[2016-07-10 03:22] be5invis opened #16 "Phase 4: CFF Continued"
In this phase:

 - [x] Unify `cff_blob` and `caryll_buffer`
 - [ ] Add optimization to CFF writer, in order to reduce file size as more as possible. (Currently *otfcc* produces `rmoveto`, `rlineto` and `rrcurveto` only, which makes @kenlunde’s SHS increased about 4MB after a dump-build cycle.)
     - [x] Basic phantomize (-O1) — 2MB reduction on SHS.
     - [x] Advanced optimization (-O2) — Anothe

[2016-07-10 07:04] anthrotype commented on #6
Good job! 👍

[2016-07-10 12:16] be5invis commented on #6
@anthrotype It still need optimizations, see #16.
For example, @kenlunde’s SHS increased about 4MB after a dump-build cycle.

[2016-07-10 13:00] anthrotype commented on #6
not sure it's relevant here, but have you had a look at [compreffor](https://github.com/googlei18n/compreffor)?

[2016-07-10 13:05] be5invis commented on #6
@anthrotype What does this library manipulate, entire SFNT or only CFF table?
*otfcc* is written in C, therefore I need to convert their interface.

[2016-07-10 13:06] be5invis commented on #6
ps. @anthrotype I think we can move the discussions to #16.

[2016-07-10 13:57] anthrotype commented on #16
compreffor is a mix of Python and C++, written by one of Behdad's intern at Google.
https://groups.google.com/forum/#!searchin/fonttools/compreffor/fonttools/UhoRPlfkOPk/jr_esUoEr2UJ

It uses fonttools to extract the relevant parts of the CFF table for subroutinization, and then for storing the output back into the sfnt font, but the core algorithm is written in C++.

[2016-07-10 14:36] be5invis commented on #16
@anthrotype If there is a pure C/C++ library I will integrate it into *otfcc*. But currently I will focus on simple peephole optimizations.

[2016-07-10 15:18] anthrotype commented on #16
There's a cffCompressor.h that exports a `compreff` function, and a Makefile to compile a shared library.
The input data must be a string containing the CharStrings and FDSelect from the CFF's TopDict (cf. [cxxCompressor.py#L87-L98](https://github.com/googlei18n/compreffor/blob/master/compreffor/cxxCompressor.py#L87-L98)).
The function returns an array containing the compressed subroutines and gly

[2016-07-10 15:22] be5invis commented on #16
@anthrotype You know, maintaining multiple local subroutine tables is painful, therefore are does this library support exporting all subroutines into `gsubrs` only?

[2016-07-10 15:25] anthrotype commented on #16
i'm afraid I don't know enough about CFF internals to understand what you mean.. Sorry 😔

[2016-07-10 15:27] be5invis commented on #16
@anthrotype The place that subroutines store can be either local or global. For CID fonts, each subfont (in FDArray) contain a local subroutine table. Exporting subroutines to the global subroutine table is much simpler to maintain.

[2016-07-10 15:33] be5invis commented on #16
@anthrotype What’s “Glyph Encoding”... Do you mean the encoding vector? It is currently unused in _otfcc_.

[2016-07-11 20:02] schriftgestalt commented on #16
Maybe it would be useful if there would be an option to store the original subroutines?

[2016-07-11 20:36] schriftgestalt opened #17 "Integer precision"
The code compiles fine with Xcode/clang in 64 bit mode. But it produces a lot warnings because the code mixes definitions of size_t and uint32_t. On 32 bit both are the same so that would not show up as a problem.

[2016-07-11 20:49] be5invis commented on #17
@schriftgestalt Could you please show me the messages?
I have a compile script using Clang-cl and it produces no error or warning.

[2016-07-11 20:50] schriftgestalt commented on #17
/Users/georg/Programmierung/Stuff/otfcc/src/extern/sds.h
/Users/georg/Programmierung/Stuff/otfcc/src/extern/sds.h:144:34: Implicit conversion loses integer precision: 'size_t' (aka 'unsigned long') to 'uint32_t' (aka 'unsigned int')
/Users/georg/Programmierung/Stuff/otfcc/src/extern/sds.h:208:36: Implicit conversion loses integer precision: 'size_t' (aka 'unsigned long') to 'uint32_t' (aka 'unsign

[2016-07-11 21:24] be5invis commented on #17
@schriftgestalt
I've updated to eliminate implicit conversions in my own code. Most of them are related to put a size_t into some sort of offsets.
The dependencies are not modified.
You can checkout the latest commit in `cff/`.

[2016-07-11 21:28] be5invis commented on #16
@schriftgestalt Well _otfcc_’s dumps store only outlines or glyph references. My main idea is that designers should not care about the storage details: _otfcc_ will automatically create an optimized result for them.

[2016-07-11 21:31] schriftgestalt commented on #16
But it should be possible to round trip as good as possible. If someone just wants to change some vertical metrics and the file gets much bigger because of the missing subroutines.

[2016-07-11 21:39] be5invis commented on #16
@schriftgestalt
That’s the purpose for the optimizer.
The purposed `-O3` optimization level will turn on subroutinization, it will compress the CFF as much as possible.

[2016-07-11 21:40] be5invis commented on #17
ps. I always use `-Wall` in daily testing, and Clang 3.8’s -Wall does not have `-Wshorten-64-to-32`.

[2016-07-11 21:40] schriftgestalt commented on #16
If you manage to do that in a similar (or better) manner that makeOTF I’m fine with it.

[2016-07-11 21:42] be5invis commented on #16
@schriftgestalt
I am not sure how compreffor perform, but it may be better than makeOTF.

[2016-07-12 12:56] schriftgestalt opened #20 "missing return"
there seems to be a missing `return blob;` in 'cff_writer.c:153'.

[2016-07-12 16:54] be5invis commented on #20
@schriftgestalt Fixed in the latest commit.
(Actually, FDSelect foramt 0 writer is not used in current code.)

[2016-07-12 16:54] #20 closed

[2016-07-13 20:13] be5invis commented on #17
Closed due to inactivity.

[2016-07-13 20:13] #17 closed

[2016-07-22 22:47] curtisblackwell opened #23 "There seem to be some missing steps for building for Mac."
So far, it's just installing premake5, but I'm giving up on that for now. Not on homebrew which means it's tedious on El Capitan.

[2016-07-24 04:01] be5invis commented on #23
@curtisblackwell I don’t have a mac because of poverty...
So sorry I cannot maintain Homebrew packages.
I’ve suggested this to @schriftgestalt, or you can maintain one :)

[2016-07-25 12:28] curtisblackwell commented on #23
I'd be willing to help out with that if I was able to figure out how to get this running. I can't seem to get premake5 working in order to build.

[2016-07-25 12:30] be5invis commented on #23
@curtisblackwell It is simple:

1. install premake5
2. cd into the project directory
3. `premake5 xcode4`
4. open the folder “build/xcode” and find the XCode workspace
5. build in XCode

[2016-07-25 12:35] curtisblackwell commented on #23
So my reason for using otfcc is to customize [Iosevka](https://github.com/be5invis/Iosevka), which requires that everything be runnable via my command line. The problem was that I was trying to put things in the wrong directory on Friday.

I'll look into what it takes to set up a homebrew package later.

[2016-07-25 12:35] anthrotype commented on #23
I usually do this to build the two otfcc* executables from the command line:
[code]

[2016-07-25 12:37] anthrotype commented on #23
the output is generated in `bin/Release-x64` or `bin/Debug-x64` depending on the configuration you passed in.

[2016-07-25 12:37] be5invis commented on #23
@curtisblackwell Leave a comment if your package is published.
@anthrotype I'll add this commands to README :)

[2016-07-25 12:41] anthrotype commented on #23
that works for me but I'm not an Xcode expert; maybe somebody else knows a better command for that... /cc @schriftgestalt

[2016-07-25 12:41] be5invis commented on #23
@anthrotype My friend @darkfall also follows this and successfully built the binaries.

[2016-07-25 12:45] schriftgestalt commented on #23
I don’t use the command line to build with Xcode. But the command looks good. But do you need to rebuild the often binaries all the time? You could build it from Xcode and then use them in a script?

[2016-07-25 12:51] be5invis commented on #23
@schriftgestalt
For me, my development is done one a PC so I often use the scripts to build them and test. But for users, providing a pre-built package is good enough.
Actually I already provide EXEs for Windows, but I do not have the platform to build homebrew packages... Maybe you can help me?

[2016-07-25 13:11] curtisblackwell commented on #23
@anthrotype So the first line works, but the other two just hang. Should they take a long while?

I also realized I didn't finish getting this running and update the instructions or anything for Mac, so I'm reopening until I get it figured out and update the instructions/include a Mac build.

premake5 xcode4
xcodebuild -workspace build/xcode/otfcc.xcworkspace -scheme otfccbuild -configuration Rele

[2016-07-25 13:15] be5invis commented on #23
@curtisblackwell Have you tried to open `build/xcode/otfcc.xcworkspace` directly with XCode?

[2016-07-25 13:15] anthrotype commented on #23
I also noticed that the xcodebuild command sometimes hangs when running from a fresh checkout.
If I then load the generated xcworkspace file in the Xcode.app, and then I simply quit without (apparently) modifying , if I re-run xcodebuild it does not get stuck this time.
I have no idea of that thing works I'm afraid. You should try digging the documentation or look at how other similar homebrew for

[2016-07-25 13:17] be5invis commented on #23
@anthrotype
@darkfall does not encountered into such a situation.

[2016-07-25 13:17] schriftgestalt commented on #23
I don’t have time to look into this right now. But you could compare the `project.pbxproj` file (somewhere inside the workspace bundle) before and after you open it in Xcode.

[2016-07-25 13:18] be5invis commented on #23
@schriftgestalt Yeah, and I can modify the "xcode" plugin to make it work

[2016-07-25 13:19] anthrotype commented on #23
[code]

[2016-07-25 13:22] be5invis commented on #23
@anthrotype Nope, the `xcworkspacedata` generated in my computer is identical to yours

[2016-07-25 13:26] be5invis commented on #23
@anthrotype @schriftgestalt
I think you should follow this:

1. Remove build/ and bin/ directory.
2. Run premake5 xcode4 to produce build/xcode directory.
3. Rename build/ into build_old/.
4. Run premake5 xcode4 again
5. Open build/xcode/otfcc.xcworkspace with XCode, do nothing, and close.
6. Compare correspond files between build/ and build_old.

[2016-07-25 13:30] curtisblackwell commented on #23
So I thought I'd already had Xcode set up properly, but turns out I was wrong. I opened up `build/xcode/otfcc.xcworkspace` directly as suggested by @be5invis, and clicked build. It asked me if I was sure I wanted to enable Developer Mode. Yes. Then the commands ran successfully.

I need to stop for now and actually get some work done, but so I can come back later and finish this, I'll keep track o

[2016-07-25 13:34] anthrotype commented on #23
Sorry ignore that diff.

OK, I just did what @be5invis suggested and I noticed that the *.pbxproj files in the *.xcodeproj bundles have no differences. But all of them have a new subfolder called `xcuserdata` with some extra content:

[code]

I have no idea what these are for, but they seem to make a difference as to whether `xcodebuild` runs or gets stuck.

[2016-07-25 13:36] be5invis commented on #23
`xcuserdata` are, well user data...
They should be automatically generated for saving things like scroll bar position...
Maybe @curtisblackwell’s report is the true reason

[2016-07-25 13:39] anthrotype commented on #23
No, because Developer Mode is already enabled on my machine

[code]

[2016-07-25 13:42] be5invis commented on #23
@anthrotype I have no idea now... Instructions are now updated with directly open with IDE.

[2016-07-25 13:47] anthrotype commented on #23
have a look at this: https://github.com/nomad/shenzhen/issues/217
it seems related.

[2016-07-25 13:51] anthrotype commented on #23
the problem looks like missing `.xcscheme` files. Xcode seems to auto-generate them when they are missing.

[2016-07-27 12:21] be5invis commented on #23
I’ve added prebuilt Mac OS binaries to “Releases”.

[2016-07-27 12:36] be5invis commented on #23
@curtisblackwell @anthrotype
![image](https://cloud.githubusercontent.com/assets/240091/17175359/b5ee2976-5439-11e6-875e-bf213dd6aa2f.png)

[2016-07-27 12:51] curtisblackwell commented on #23
Thanks @be5invis. I'll give that a go tonight.

[2016-07-28 15:07] be5invis commented on #23
@curtisblackwell
Finally @Liam0205 is making a Homebrew package. This issue can be closed.
Installation:
[code]

[2016-07-29 00:37] Liam0205 commented on #23
@curtisblackwell
Have you tried this?

[2016-07-29 07:35] be5invis commented on #23
@schriftgestalt @anthrotype Does the bres package work?

[2016-07-29 07:40] moyogo commented on #23
@be5invis the brew package works for me.

[2016-07-29 13:23] curtisblackwell commented on #23
@Liam0205 Sorry for the delayed response, I'm at a conference, so I've been really busy. The brew package does work.

[2016-07-29 13:23] #23 closed

[2016-07-29 14:43] Liam0205 commented on #23
@curtisblackwell
It's ok.
+@moyogo
Glad to know that the brew package works fine, since this was my first time to make one.

[2016-07-29 15:01] anthrotype commented on #23
are you planning to send a pull request to add the formula to https://github.com/Homebrew/homebrew-core?

[2016-07-29 15:04] Liam0205 commented on #23
@anthrotype
This is a good suggestion. Semi unfortunately, however, the brew community won’t just add our app to brew, because:

* `otfcc` is current a beta version app, but the community only accepts stable ones;
* `otfcc` is too niche, which the community dislikes.

[2016-07-29 15:07] moyogo commented on #23
Homebrew has fontforge, fonttools, woff2, zopfli and probably others so it might be fine once it’s stable.

[2016-07-29 15:13] Liam0205 commented on #23
@moyogo
Thanks for your info.
Let's look forward to the stable version, then.

[2016-07-29 15:13] anthrotype commented on #23
the brew tap is fine for now. why "otfcc-mac64" and not just "otfcc"? brew is mac-only, and 32 bit is no option nowadays, is it?

[2016-07-29 15:22] anthrotype commented on #23
I just realised the formula simply unzips and installs the pre-compiled binaries for otfccdump and otfccbuild, downloaded from the github releases page. That'll never going to be accepted by hombrew-core I guess.

The formula should be able to compile from source. "Bottles" are automatically generated by homebrew.

premake5 is on homebrew (you need to pass `--devel` or you get the stable, premake

[2016-07-31 17:48] huntzhan commented on #16
@be5invis
Let me summarize your requirement on optimization.

Given a list of `charstring_il`, find the longest common substring of *some of* the `charstring_il`s, such that *s* (longest common substring) times *c* (occurrences) is maximum.

How about I implement an function with following signature: `charstring_il* lcs(uint32_t *out_length, charstring_il *in, uint32_t *in_length)`:

* returns *s*

[2016-07-31 18:13] be5invis commented on #16
@huntzhan

Objective: Extract **one** subroutine from the existing charstrings or subroutine definitions, which is defined as the most "valuable" common substrings in them. The value is calculated as (length - 2) × (occurrences - 1).

A program may be either a **charstring** or a **subroutine definition**. When analyzing a subroutine candidate, the valid range in a charstring is between its first

[2016-08-21 13:53] be5invis opened #27 "MATH Table"
I always want to make a math font.
SUPPORT [THIS](https://www.microsoft.com/typography/otspec/math.htm).

[2016-08-21 13:54] be5invis commented on #16
Close as complete/postponed

[2016-08-21 13:54] #16 closed

[2016-08-21 13:56] be5invis opened #28 "CFF Subroutinizer"
- [ ] Add a Subroutinizer to CFF support (in `charstring_il.c`, or a separate file).
- [ ] Assign to otfcc’s `-O3`

cc. @huntzhan @schriftgestalt

[2016-09-05 11:32] RoelN opened #29 "Mac install through brew fails"
<img width="588" alt="1__roel_microcomputer____code_font-experiments__zsh_" src="https://cloud.githubusercontent.com/assets/4570664/18246622/3858ff92-736d-11e6-8cd1-e5cd2c463142.png">

[2016-09-05 14:15] be5invis commented on #29
cc. @Liam0205

[2016-09-05 14:56] RoelN opened #30 "Pretty-print contours as well"
When using `--pretty` it would be nice to see a newline for each contour value.

`"contours": [[{"x":-16383,"y":16383,"on":true},{"x":16383,"y":16383,"on":true},{"x":16383,"y":-16383,"on":true},{"x":-16383,"y":-16383,"on":true}]]`

to

[code]

[2016-09-05 14:58] RoelN opened #31 "Option to get relative contour values"
In [the spec](https://www.microsoft.com/typography/OTSPEC/glyf.htm) I read about coordinates:

`First coordinates relative to (0,0); others are relative to previous point.`

Yet the coordinates dumped with otfcc all seem to be relative to (0, 0). Is there any way to dump/compile them relative to the previous point?

(This is a very similar request I did for [ttx/FontTools](https://github.com/behda

[2016-09-05 16:03] be5invis commented on #31
Why do you need relative positions?
Absolute coordinates works almost everywhere.

[2016-09-05 16:07] be5invis commented on #28
Objective: Extract **one** subroutine from the existing charstrings or subroutine definitions, which is defined as the most "valuable" common substrings in them. The value is calculated as (length - 2) × ((non-overlapping occurrences) - 1).

A program may be either a **charstring** or a **subroutine**. A charstring follows:

[code]

while a subroutine follows

[code]

When analyzing a program, you

[2016-09-05 16:09] be5invis commented on #30
Hmmm. There IS an option, lies in [premake5.lua](https://github.com/caryll/otfcc/blob/master/premake5.lua#L41), removing `_CARYLL_USE_PRE_SERIALIZED` WILL enable formatting contours, but it will damage the performance.

[2016-09-05 19:24] RoelN commented on #30
I suppose most editors/IDEs are capable or pretty-printing JSON, or there are plugins to do that. To me it would be convenient and worth the drop in performance, as `--pretty` is probably used for human eyes as opposed to output meant for another script to work with, but it's a non-urgent enhancement.

[2016-09-05 19:37] be5invis commented on #30
@RoelN I use `jq` often. It has a built-in formatter, so everything is OK.

[2016-09-05 19:51] RoelN commented on #31
I can see I can go up to -32767 (not -32768) and 32767 as values, that's great. With relative values I could reach even more absurd glyph sizes, unless some other value (like the side bearings) is limited to a SHORT. I'm just experimenting to see how large a glyph can get!

[2016-09-06 02:21] Liam0205 commented on #29
I'll check this later. Thanks for your report.

[2016-09-06 10:18] RoelN commented on #30
So are you going to leave it to and outside tool, or build it into otfcc?

[2016-09-06 10:20] be5invis commented on #30
@RoelN Maybe external, though there is an option to trigger.
otfcc is focused on the font part, performs serialization and optionizations.

[2016-09-10 07:30] Liam0205 commented on #29
Hi @RoelN , this problem origins from my typo. Since otfcc has updated to version 0.3.3, this bug was fixed in the update.

You could now upgrade or install otfcc by brew with happy. : )

[2016-09-10 07:30] #29 closed

[2016-09-10 07:37] RoelN commented on #29
Excellent, thanks for the fix!

<img width="731" alt="1__5_0___-__microcomputer____tmux_" src="https://cloud.githubusercontent.com/assets/4570664/18408795/333b18e4-773a-11e6-99d4-1bf5bbf27706.png">

[2016-09-11 06:07] Liam0205 commented on #29
Welcome.

[2016-09-12 20:33] be5invis commented on #31
Since the internal precision has been increased to avoid rounding error when processing your font, I think this issue can be closed due to inactivity. Maybe @RoelN you can write a Node.JS script to do this, it is very simple.

[2016-09-12 20:33] #31 closed

[2016-09-13 15:02] be5invis commented on #28
@huntzhan @clerkma @schriftgestalt

Found papers about this:

- Alberto Apostolico, Stefano Lonardi: *Off-Line Compression by Greedy Textual Substitution.* Proc. IEEE, vol. 88 no. 11, pp. 1733-1744, Nov. 2000
- Alberto Apostolico, Stefano Lonardi: *Some Theory and Practice of Greedy Off-Line Textual Substitution.* Data Compression Conference 1998:119-128
- Alberto Apostolico, Stefano Lonardi: *Com

[2016-09-14 10:48] be5invis opened #32 "Variations"
Purposal:

1. [ ] Replace all metrics and coordinates to a “extended” numeric type with variation support.
2. [ ] Metadata:
  - [ ] `fvar`.
  - [ ] `avar`.
3. [ ] TT:
  - [ ] `gvar`.
  - [ ] `cvar`.
  - [ ] `gasp` modifications.
4. [ ] CFF2:
  - [ ] `CFF2`.
5. [ ] Metrics
  - [ ] `MVAR`.
  - [ ] `HVAR`.
  - [ ] `VVAR`.
6. [ ] OTL
  - [ ] Conditional feature selectors.
  - [ ] `GPOS` modifications

[2016-09-15 19:22] be5invis commented on #28
Done.

[2016-09-15 19:22] #28 closed

[2016-09-20 03:20] be5invis opened #34 "Make otfcc a library."

[2016-09-20 03:37] be5invis opened #35 "Separate the two formats of GlyphOrder -- or make it completely invisible from users"
Proposal:

- Rename the string-to-index GlyphOrder into "glyph_map".
- Separate the index-to-string GlyphOrder, maybe we should not use the hash table now.

[2016-09-20 07:42] farteryhr opened #36 "--add-bom for -o"
![](http://i.imgur.com/49Xf175.png)
锘

[2016-09-20 10:45] #36 closed

[2016-10-22 19:02] twardoch opened #38 "otfcc.js via emscripten?"
Do you have plans to compile otfcc via emscripten, so it could work in a browser via JS?

[2016-10-22 19:05] twardoch commented on #32
I'd vote for 'fvar' support first, as it's a crucial table in querying fonts externally. 'STAT' would also be great.

[2016-10-23 04:07] be5invis commented on #38
You can try it.

[2016-10-25 05:58] #35 closed

[2016-11-02 18:34] be5invis opened #39 "Name glyphs using its hash"
This is an interesting approach about merging TTFs into a TTC: we can name the glyphs using its hash (SHA-1 or SHA-256), then use a very simple script to perform the merge process.

Key problems:

- References: May be solved by recursively name its components, and encode its hash using the components' hash.

[2016-11-03 05:11] twardoch opened #40 "Mac OS X building info"
In the Mac OS X building info section, you could add that `premake5` can be installed via `brew`:

[code]

[2016-11-03 15:19] be5invis commented on #40
@twardoch I prefer using the one bundled in `dep/bin-osx`.

[2016-11-03 15:21] be5invis commented on #40
Updated in `dev`. Closed.

[2016-11-03 15:21] #40 closed

[2016-11-04 17:19] #39 closed

[2016-11-19 03:20] cwchien opened #41 "otffccdump 0.6.0 Segmentation fault while JSON last brace"
Source Han Sans 1.004
for example: [SourceHanSansCN-Bold.otf](https://github.com/adobe-fonts/source-han-sans/blob/release/SubsetOTF/CN/SourceHanSansCN-Bold.otf)
[code]
compared with otfccdump 0.5.2 for the same file:
[code]

OS: Ubuntu 16.10 64bit
GCC: 6.2.0 20161005
Premake : 5.0.0-alpha10
GMake: 4.1
otfcc built with:
[code]
otfcc-0.6.0 binary [Google Drive](https://drive.google.com/drive/folders

[2016-11-20 02:36] be5invis commented on #41
Fixed in 0.6.1.

[2016-11-20 02:36] #41 closed

[2016-11-20 15:39] cwchien commented on #41
Confirmed. Thanks. :)

[2016-12-17 15:45] cwchien opened #42 "otfccbuild 0.6.2 hangs while converting SourceHanSansJP and SourceHanSansKR"
Source Han Sans 1.004
for example: [SourceHanSansJP-Regular.otf](https://github.com/adobe-fonts/source-han-sans/blob/release/SubsetOTF/JP/SourceHanSansJP-Regular.otf), [SourceHanSansKR-Regular.otf](https://github.com/adobe-fonts/source-han-sans/blob/release/SubsetOTF/KR/SourceHanSansKR-Regular.otf)
(But it's fine for **SourceHanSansCN** and **SourceHanSansTW**)

[code]

It hangs while using the fo

[2016-12-19 15:29] be5invis commented on #42
Have you tried to use `--verbose` when building?

[2016-12-19 15:37] #42 closed

[2016-12-19 16:46] cwchien commented on #42
Sorry, I just look for something like `--debug` but not notice the `--verbose`.
Thanks for the tip! I have added it into my script.

Fix confirmed. Thank you. :)

[2016-12-19 20:06] S1ohy opened #43 "Unable to build with latest gcc (6.2.1-5)"
[code]

Downloaded otfcc from https://github.com/caryll/otfcc/archive/v0.6.3.tar.gz
Downloaded premake5 from https://github.com/premake/premake-core/releases/download/v5.0.0-alpha10/premake-5.0.0-alpha10-linux.tar.gz

Running Debian Sid/Testing

[2016-12-19 20:45] be5invis commented on #43
What’s your `otfccbuild.make`?

[2016-12-19 20:45] be5invis commented on #43
In `build/gmake`.

[2016-12-19 20:48] be5invis commented on #43
If you are going to make the release version, you should type

[code]

[2016-12-19 20:49] S1ohy commented on #43
@be5invis
[code]

[2016-12-19 20:50] be5invis commented on #43
@S1ohy Can you build the `release` version?

[code]

[2016-12-19 20:52] S1ohy commented on #43
@be5invis

I'm not sure, I'm a bit confused as to if this built or not:
[code]

[2016-12-19 20:52] be5invis commented on #43
This build is successed.

[2016-12-19 20:54] S1ohy commented on #43
@be5invis Thank you. I might recommend putting ``config=release_x64`` in the build instructions

[2016-12-19 20:55] be5invis commented on #43
@S1ohy Sure. Closed.

[2016-12-19 20:55] #43 closed

[2017-03-17 01:21] MalcolmWooden opened #45 "Glyph names changing"
When dumping a TTF the glyph for U+0009, U+000D has it's name changed to "nonmarkingreturn". This does not seem to be the case for OTF (CFF) fonts.
Would it be possible to have an option flag to preserve post tables names if a post table is present?

[2017-03-17 08:33] moyogo commented on #45
Isn’t this FontLab Studio 5 renaming CR to nonmarkingreturn to match [standard Mac post names](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6post.html) when it generates the font?

[2017-03-17 10:17] MalcolmWooden commented on #45
Hey Denis,  The TTF I tested definitely started life with "CR" in the post table. After going through otfccdump I noticed that the dump file has glyph name "nonmarkingreturn" where I was expecting "CR".

[2017-03-18 20:43] be5invis commented on #45
@MalcolmWooden Did your font REALLY have a `post` table?
The naming priority in `otfccdump` for TTF fonts, when you are not using `--name-by-hash` and `--ignore-order`, is `post` > AGLFN > `uni####` > `glyph###` / `.notdef` / `.null`.

[2017-03-18 20:46] be5invis commented on #45
@MalcolmWooden Send a file that would cause a problem please.

[2017-03-19 02:48] MalcolmWooden commented on #45
[FontData.zip](https://github.com/caryll/otfcc/files/852974/FontData.zip)
Here is some font data for you as requested.
FullerSansLightItalic.ttf - The original TTF font data
FullerSansLightItalic.json - json file produced by otfccdump
FullerSansLightItalic_otfccbuild.ttf A TTF font from the json file created by otfccbuild
Font_Compare.xls A compare file created by our own comparison tool showing t

[2017-03-19 06:43] be5invis commented on #45
@MalcolmWooden
Your glyph 2 is mapped into a standard Macintosh glyph name 2 (which is, `nonmarkingreturn`), in your `post` table. So otfcc's behavior is **correct**.
Closed as by-design.

[2017-03-19 06:43] #45 closed

[2017-03-19 12:57] MalcolmWooden commented on #45
FYI
[Screen Shot 2017-03-19.png.zip](https://github.com/caryll/otfcc/files/853189/Screen.Shot.2017-03-19.png.zip)

[2017-03-19 12:58] be5invis commented on #45
@MalcolmWooden otfcc is NOT designed to keep every byte unchanged after a dump-build roundtrip.
Also, ttx and OTMaster do not name your glyph `CR` either.

[2017-03-19 13:02] MalcolmWooden commented on #45
Maybe, but I don't understand why the post table is bloated with Mac names!

[2017-03-19 13:05] be5invis commented on #45
@MalcolmWooden You should move into another issue.
If you want to reduce file size, I recommend that you simply use `-O3` to remove `post` names.

[2017-03-19 13:13] MalcolmWooden commented on #45
Sorry, I do not understand what you mean by "You should move into another issue" can you explain please.

[2017-03-19 13:14] be5invis commented on #45
@MalcolmWooden
Open another issue about that the current `post` builder produces Mac names.

[2017-05-12 20:56] nicholaelaw opened #46 "Could not convert Source Han Serif to TTF"
While doing

    otfccdump.exe NotoSansMonoCJKsc-Bold.otf | otfcc-c2q | otfccbuild.exe -o NotoSansMonoCJKsc-Bold.ttf

worked for Source Han Sans / Noto Sans CJK, it fails at the new Source Han Serif fonts:

    otfccdump.exe NotoSerifCJKsc-Black.otf | otfcc-c2q | otfccbuild.exe -o NotoSerifCJKsc-Black.ttf
    <...>\npm\node_modules\otfcc-c2q\c2q_cli.js:7
    process.stdin.on('data', function (buf)

[2017-05-13 05:20] be5invis commented on #46
Duplicate of caryll/otfcc-cubic2quad#3. Closed.

[2017-05-13 05:20] #46 closed

[2017-07-07 15:36] jfrankenau opened #49 "`error: format string is not a string literal` in _TSI.c"
I'm trying to build otfcc v0.8.4 for NixOS. With Clang/LLVM as well as GCC I'm getting the following errors:

[code]

I've followed the instructions with:
[code]
Any input on how to solve this?

[2017-07-07 16:06] be5invis commented on #49
You can change `loggedStep(tag) {` into `loggedStep("%s", tag){` and try to rebuild.
I'd like to fix that tomorrow.

[2017-07-07 16:17] jfrankenau commented on #49
Hah, I was building this one with GCC before and as always those error messages suck. And after trying it with Clang I didn't even read them altough they are so much better. Stupid me. Thank you, it builds fine now.

Also, thank you very much for Iosevka. It's such a beautiful font which is why I am preparing a new package for NixOS which allows to easily change the parameters instead of just pull

[2017-07-08 09:49] #49 closed

[2017-09-07 23:35] roytam1 opened #50 "Convert CID OTF to CFF OTF?"
Can I use otfcc to convert CID OTF to CFF OTF?

[2017-09-08 05:29] be5invis commented on #50
if you delete `CFF_.fdArray`, then otfcc would not treat the font as CID.

[2017-10-23 09:04] chazeon opened #51 "Dumped JSON file does not conform with JSON standard which leads to decoding problems"
Dumped JSON file, contains encoded strings, which could error prone while decoding in scripting languages like Python.

These encoded strings, especially those in the `name` table, are directly dumped as bytes, and are not always uniformly encoded because they are stored encoded in fonts as bytes when the corresponding platform is Windows.

JSON decoding, for example, in Python 3, the `json.load()

[2017-10-23 09:13] be5invis commented on #51
@chazeon Could you please provide some examples?
Currently Windows NAME entries are encoded in UTF-8, but for other entries it would use BASE64, since they may contain legacy encoding.

[2017-10-23 09:29] chazeon commented on #51
@be5invis I don't know if you can get hold of any Founder Type font, I get one from their official website for example, FZXSSK (方正新书宋_GBK) has this kind of problem.

I dump the `FZXSSK.TTF` to `FZXSSK.json` using

[code]

with otfcc release 0.9.6 then run Python 3 and get problems like these

[code]
I do not dig in this time, but from my previous experience, the copyright line at least, could caus

[2017-10-23 09:39] be5invis commented on #51
They are encoding CJK characters in Mac Roman encoding?

[2017-10-23 09:48] #50 closed

[2017-10-23 15:52] chazeon commented on #51
I realized I have mistaken the platform Mac for Windows. I am not familiar with Mac Roman encoding, but it seems they are doing something like that.

[2017-10-27 21:21] davelab6 opened #52 "Subsetting"
In the README you state how many times faster otfcc is than ttx; fontTools also provides a subsetter, and I wonder if otfcc might also provide a subsetter :)

[2017-10-28 11:39] be5invis commented on #52
I think subsetting is more like a high-level application rather than a feature could be integrated into OTFCC.

[2017-11-30 16:32] wutipong opened #53 "'advanceWithMax' field under 'hhea' should be 'advanceWidthMax'"
Base on the output file of version 0.9.6, under the table 'hhea', there's a field `advanceWithMax` which might be a misspelling. According to [Microsoft's opentype website](https://www.microsoft.com/typography/otspec/hhea.htm) and [Apple's ](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6hhea.html), the field should be `advanceWidthMax`.

[2017-12-01 08:24] be5invis commented on #53
Fixed in `poly` branch.

[2017-12-01 08:26] #53 closed

[2017-12-12 05:24] chengluyu opened #54 "Node.js bindings of otfcc?"
Any idea to make otfcc a Node.js binding? For example:

[code]

Currently I'm using child_process to manually invoke otfcc, which is really a pain.

[2017-12-12 05:27] be5invis commented on #54
I am not very familiar with creating C++ modules... though there is a DLL target in the current code. Windows build **requires** VS2017 and Clang -- but you can use prebuilt DLLs.

PRs are welcome (please push to the `poly` branch).

[2017-12-16 10:26] chengluyu opened #55 "JSON schema"
Hello. Sometimes I feel uncertain about `otfccdump`'s output so I have to look into the source code. Is there any descriptive documents (like JSON schema) about JSON format used in OTFCC?

[2017-12-16 10:27] be5invis commented on #55
@chengluyu
Not yet, because some of the formats (like VF-related) are still unstable.
ps. I think the JSONs are pretty straight-forward.

[2017-12-16 10:28] be5invis commented on #55
Anyway, PRs are welcome.

[2017-12-16 10:43] chengluyu commented on #55
Thanks for your quick response. Because sometimes I am not sure whether I use some fields correctly. JSONs are quite understandable. But when it comes to programming-purpose, something like JSON schema could enhance the correctness.

[2018-12-11 04:18] CyanoHao opened #56 "Cannot properly dump transformation matrix in U+1D1D in Noto Sans"
This is original U+1D1D in Noto Sans:
![screenshot 34](https://user-images.githubusercontent.com/14287996/49778019-03e5ed80-fd3e-11e8-881f-98f224cf03e9.png)

After running
[code]
it looks like this:
![screenshot 33](https://user-images.githubusercontent.com/14287996/49778030-195b1780-fd3e-11e8-93aa-d188660b3f3c.png)

`otfccdump` dumps U+1D1D in Noto Sans to this:
[code]
It seems that `"d"` should

[2018-12-11 08:34] #56 closed

[2018-12-11 08:35] be5invis commented on #56
I made a fix in master. You can try to rebuild it on your own.
OTFCC is now in a maintenance mode (I have a TypeScript project internally in MSFT does the same thing).

[2018-12-28 13:56] MalcolmWooden opened #58 "Round-trip Dump and Build appears to change GPOS kerning"
<img width="632" alt="original" src="https://user-images.githubusercontent.com/26472736/50517391-17b48200-0aa8-11e9-8ac1-49c25db4f8a0.png">
Original font has no kern here.
<img width="780" alt="otfccbuild" src="https://user-images.githubusercontent.com/26472736/50517409-2ef36f80-0aa8-11e9-9163-6b974924556f.png">
After Dump and Build a new kerning pair has appeared.

[2018-12-28 13:57] be5invis commented on #58
Json difference?

[2018-12-28 14:00] be5invis commented on #58
Also OTFCC does not support legacy kern table. Only GPOS would be processed.

[2018-12-28 14:37] be5invis commented on #58
Looks like a bug when generating individual-based lookup from class-based...

On Fri, Dec 28, 2018 at 10:27 PM +0800, "MalcolmWooden" <notifications@github.com> wrote:

First lookups of GPOS kerning from original.

First lookups of GPOS kerning after Dump and Build.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-30 08:37] moonAgirl opened #59 "global-buffer-overflow in /lib/support/unicodeconv/unicodeconv.c:40:2"
## Test Version
dev version, git clone https://github.com/caryll/otfcc.git

## Test Program
otfcc/bin/release-x64/otfccdump  [infile]

## Asan Debug Information

[code]
## POC file

<https://github.com/moonAgirl/Bugs/blob/master/otfcc/2018-12-30-01-global-buffer-overflow.otf/>

[2018-12-30 20:13] be5invis commented on #59
Do you have a more detailed stack trace for this?
@clerkma

[2018-12-30 20:13] be5invis commented on #58
@MalcolmWooden Could you please provide me the file so I can test?

[2018-12-31 02:45] HongxuChen opened #60 "SIGSEGV when feeding otfccdump with crafted otf file"
As of 48e5245, when feeding otfccdump with some crafted otf files, it may crash with backtrace like:
[code]

[poc.zip](https://github.com/caryll/otfcc/files/2717682/poc.zip)

The binary is compiled with default `debug_x64` config; for other compilations such as `-O0 -fsanitize=address`, it may hang with infinite loop.

[2018-12-31 02:48] be5invis commented on #59
I am curious about that why you are filing these bugs since I am deprecating otfcc (I have an internal TypeScript lib to deal with OTFs). Are you (or someone else) using it?

[2018-12-31 02:56] HongxuChen commented on #59
Not exactly, I just saw some CVE entries and would like to find interesting projects to analyze :smile_cat:

[2018-12-31 02:59] be5invis commented on #59
CVE?
Also I am away from my dev env and want to depreciate this project (that TS lib would be much better.) PRs are welcome.

[2018-12-31 03:01] be5invis commented on #59
The crash site is sds (a string library) 's allocation func.

[2018-12-31 11:59] MalcolmWooden commented on #58
Here is the font that I used.
[Kopik-Bold.otf.zip](https://github.com/caryll/otfcc/files/2718280/Kopik-Bold.otf.zip)

[2019-01-02 12:50] be5invis commented on #59
Hmm your file crashes TTX too.

[2019-01-02 13:10] be5invis commented on #58
![image](https://user-images.githubusercontent.com/240091/50593294-bbe85f80-0ed2-11e9-9bdc-f83a7a4d2c5d.png)

I tried one roundtrip (using Master version) and does not have any problem. I know there are some older version that breaks kerning lookups. Maybe you can try to build with Master.

[2019-01-02 13:12] #59 closed

[2019-01-02 13:12] #60 closed

[2019-01-02 19:05] MalcolmWooden commented on #58
Sorry but I am not familar with building projects with Premake and Lua. Do you have a Master Mac O/S version you can upload?

[2019-01-02 19:05] be5invis commented on #58
@clerkma

[2019-01-04 19:06] clerkma commented on #58
[otfcc-macos.x64-0.10.3.zip](https://github.com/caryll/otfcc/releases/download/v0.10.3-alpha/otfcc-macos.x64-0.10.3.zip)

[2019-11-22 20:03] asbai opened #64 "bitmap font info related segments does not supportted?"
Bitmap font info related segments Such as EBDT and EBLC does not exported with current version.

[2019-12-30 23:13] CaiMiao opened #66 "[Request] export CMAP keys in hexdecimal"
I see current CMAP keys are still in decimal only, so if there's a chance...

[2019-12-30 23:17] CaiMiao opened #67 "[Request ?] Dump/import specific table from/to otc"
Another feature request regarding existing `ttx` feature. See if there's a chance too.

[2020-01-22 16:40] rsms opened #68 "otfcc 0.9.6 on macOS x64 yields invalid OTF font after simple roundtrip"
repro:

[code]

The input file Inter-Regular.otf is from the [Inter v3.11 release](https://github.com/rsms/inter/releases/tag/v3.11) and is verified to work correctly in a variety of font parsers (also it passes the macOS Font Book validator)

However the output file is not only MUCH larger in size but also does not work on macOS. Font Book validation fails with “System Validation” error:

<img wi

[2020-01-22 16:52] rsms commented on #68
I tried disabling everything I could think of with otfccbuild and still the same issue:

[code]

I ran OTS 7.1.7 on the font files and no combinations of options yields a readable font file. E.g.
`ots-validator-checker Inter-Regular-otfccbuild.otf` → `font renderer couldn't open the transcoded font` (whereas with the original input file `ots-validator-checker Inter-Regular.otf` → `font renderer di

[2020-01-23 04:13] be5invis commented on #68
Strange. I do not have dev environment for `otfcc` now since it has been stalled for pretty a while.
Note that if you want to fix https://github.com/rsms/inter/issues/228 by round-tripping with otfcc then it won't. otfcc's bounding box definition is also wrong.

[2020-01-23 18:02] rsms commented on #68
Thanks for chiming in @be5invis.
I’m working on a project unrelated to Inter where I’d like to use otfcc. I used its code in a C project and kept getting invalid font files as an output; thought it was my code that somehow used the otfcc functions incorrectly, so I tried just compiling with master and latest stable release. Turned out there’s an issue in otfcc :–)

[2022-06-03 19:18] hfhchan opened #71 "Add otfcc-macos.arm64-0.10.4.zip for M1 devices."
I have built the binaries for M1 and they are located here:
https://github.com/hfhchan/otfcc-macos.arm64/releases/tag/v0.10.4

[2022-06-03 19:19] #71 closed, assigned to nobody